{% extends 'base.html' %}

{% block content %}

    <h1>Write New Novel</h1>

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <p>제목: <input type="text" name="title"></p>
        <p>작가: <input type="text" name="author"></p>
        <p>평점: <input type="number" step="0.01" name="rating"></p>
        작품소개: <textarea name="body" id="" cols="30" rows="10"></textarea>
        <button type="submit">작성</button>
    </form>
    <a href="{% url 'home' %}">홈으로</a>

{% endblock %}